---
interface Props {
  title: string;
  description: string;
  buttonLabel: string;
  buttonLink: string;
}

const  { title, description, buttonLabel, buttonLink } = Astro.props

const imgUrl = "https://images.unsplash.com/photo-1622277430358-f4d134452e2e?q=80&w=3601&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
---


<div class="relative bg-gradient-to-r from-purple-600 to-blue-600 h-screen text-white overflow-hidden">
    <div class="absolute inset-0">
      <img src={imgUrl} alt="Background Image" class="object-cover object-center w-full h-full" />
      <div class="absolute inset-0 bg-black opacity-50"></div>
    </div>
    
    <div class="relative z-10 flex flex-col justify-center items-center h-full text-center">
      <h1 class="text-5xl font-bold leading-tight mb-4 text-pretty">{title}</h1>
      <p class="text-lg text-gray-300 mb-8">{description}</p>
      <a href={buttonLink} class="bg-white text-gray-900 hover:bg-yellow-100 py-2 px-6 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">{buttonLabel}</a>
    </div>
  </div>
  